:root {
  --ica-blue: #003366;
  --ica-orange: #FC8A24;
  --ica-offwhite: #FFFEF3;
  --ica-green: #6B8E23;

  --font-primary: 'Figtree', sans-serif;
  --font-heading: 'Bodoni Moda', serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-primary);
  background-color: var(--ica-offwhite);
  color: #1f2933;
}

h1, h2, h3 {
  font-family: var(--font-heading);
}
